#Django Settings
SECRET_KEY=""
DEBUG=""
ALLOWED_HOSTS=""
CORS_ALLOWED_ORIGINS=""

#Database Config
DB_DATABASE=""
DB_USERNAME=""
DB_PASSWORD=""
DB_HOST=""
DB_PORT=""

#Redis Config
REDIS_HOST=""
REDIS_PORT=""
REDIS_PASSWORD=""

# RabbitMQ Config
RABBITMQ_USER=""
RABBITMQ_PASSWORD=""
RABBITMQ_HOST=""
RABBITMQ_PORT=""
RABBITMQ_VHOST=""

#Email Service
EMAIL_HOST_USER=""
EMAIL_HOST_PASSWORD=""